form(action='/register', method='post' data-toggle='validator')
  .form-group.has-feedback
    input.form-control(required type='text', placeholder='Full name' name='full_name')
    span.glyphicon.glyphicon-user.form-control-feedback
    .help-block.with-errors
  .form-group.has-feedback
    input.form-control(required type='email', placeholder='Email' name='email')
    span.glyphicon.glyphicon-envelope.form-control-feedback
    .help-block.with-errors
  .form-group.has-feedback
    input.form-control(data-minlength=6 required id='inputPassword' type='password', placeholder='Password' name='password')
    span.glyphicon.glyphicon-lock.form-control-feedback
    .help-block.with-errors
  .form-group.has-feedback
    input.form-control(type="password" id="inputPasswordConfirm" data-match="#inputPassword" data-match-error="Whoops, these don't match" placeholder="Retype Password" required)
    span.glyphicon.glyphicon-log-in.form-control-feedback
    .help-block.with-errors
    .form-group.has-feedback
      select.form-control.select2(style='width: 100%;' placeholder='Select an access level' name='access')
        option Superuser
        option Analytics
  .form-group.has-feedback
    select.form-control.select2(style='width: 100%;' placeholder='Select a region' name='region')
      option All
      each region in regions
          option=region.region_name
  .row
    .col-xs-8
      .checkbox.icheck
        label
          input(type='checkbox')
          |  I agree to the 
          a(href='#') terms
    // /.col
    .col-xs-4
      button.btn.btn-danger.btn-block.btn-flat(type='submit') Register
    // /.col
