a.logo(href='#')
  // mini logo for sidebar mini 50x50 pixels
  span.logo-mini
    b #{logofirst}
    | #{logosecondmin}
  // logo for regular state and mobile devices
  span.logo-lg
    b #{logofirst}
    | #{logosecond}
