script(src='libs/jquery/dist/jquery.min.js')
// jQuery UI 1.11.4
script(src='libs/jquery-ui/jquery-ui.min.js')
// Resolve conflict in jQuery UI tooltip with Bootstrap tooltip
script.
  $.widget.bridge('uibutton', $.ui.button);
// Bootstrap 3.3.7
script(src='libs/bootstrap/dist/js/bootstrap.min.js')
// Morris.js charts
script(src='libs/raphael/raphael.min.js')
script(src='libs/morris.js/morris.min.js')
// Sparkline
script(src='libs/jquery-sparkline/dist/jquery.sparkline.min.js')
// jvectormap
script(src='plugins/jvectormap/jquery-jvectormap-1.2.2.min.js')
script(src='plugins/jvectormap/jquery-jvectormap-world-mill-en.js')
// jQuery Knob Chart
script(src='libs/jquery-knob/dist/jquery.knob.min.js')
// daterangepicker
script(src='libs/moment/min/moment.min.js')
script(src='libs/bootstrap-daterangepicker/daterangepicker.js')
// datepicker
script(src='libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js')
// Bootstrap WYSIHTML5
script(src='plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js')
// Slimscroll
script(src='libs/jquery-slimscroll/jquery.slimscroll.min.js')
// FastClick
script(src='libs/fastclick/lib/fastclick.js')
// AdminLTE App
script(src='js/adminlte.min.js')
// AdminLTE dashboard demo (This is only for demo purposes)
script(src='js/pages/dashboard.js')
