nav.navbar.navbar-default.navbar-fixed
  .container-fluid
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='#') Dashboard
    .collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-left
        li
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            i.fa.fa-dashboard
      ul.nav.navbar-nav.navbar-right
        li
          a(href='')
            | Account
