.sidebar(data-color='red' data-image="/img/sidebar-5.jpg")
  //
    Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
    Tip 2: you can also add an image using data-image tag
  .sidebar-wrapper
    .logo
      a.simple-text(href='http://www.twitter.com/rasheddoha')
        | Rashed Doha
    ul.nav
      li.active
        a(href='dashboard.html')
          i.pe-7s-graph
          p Dashboard
