// Content Header (Page header)
section.content-header
  h1
    | Advertisements
    small #{user.region}
  ol.breadcrumb
    li
      a(href='#')
        i.fa.fa-dashboard
        |  Home
    li.active Advertisements
