form(action='/login', method='post')
  .form-group.has-feedback
    input.form-control(type='email', placeholder='Email')
    span.glyphicon.glyphicon-envelope.form-control-feedback
  .form-group.has-feedback
    input.form-control(type='password', placeholder='Password')
    span.glyphicon.glyphicon-lock.form-control-feedback
  .row
    .col-xs-8
      .checkbox.icheck
        label
          input(type='checkbox')
          |  Remember Me
    // /.col
    .col-xs-4
      button.btn.btn-danger.btn-block.btn-flat(type='submit') Sign In
    // /.col
