// Content Header (Page header)
section.content-header
  h1
    | Analytics
    small(id='userRegion') #{user.region}
  ol.breadcrumb
    li
      a(href='#')
        i.fa.fa-dashboard
        |  Home
    li.active Analytics
