extends ../layout
block content
    .content-wrapper
        include content-header
        include content
block scripts
    script(src='/plugins/chart.js/Chart.bundle.js')
    script(src='/js/pages/analytics.js')
